<h1>Create a new Owner</h1>

<form action="/owners" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" name="owner[name]" id="owner_name">

  <br></br>

  <% @pets.each do |pet| %>
  <input type="checkbox" name="owner[pet_ids][]" value="<%=pet.name%>" id="<%=pet.name%>"><%=pet.name%></input><br>
  <% end %>

  <input type="submit" value="Create Owner">
</form>
